# Node.js dependencies
node_modules

# Laravel vendor files
vendor

# Build outputs
dist
build

# Docker files
Dockerfile
Dockerfile.react
Dockerfile.keycloak
docker-compose.yml

# Git files
.git
.gitignore

# Logs and temporary files
npm-debug.log
yarn-error.log
*.log
tmp
temp

# IDE directories
.vscode
.idea

# OS files
.DS_Store
Thumbs.db